/* CSS VARIABLES - Default theme */

:root {
    --primary: #14274e;
    --primary-light: #9ba4b4;
    --secondary:  #394867;
  

    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  